{% extends 'base.html.twig' %}

{% block title %}Harvendore blog{% endblock %}

{% block body %}

    <h1>Tous mes articles</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_article_new') }}">Ajouter un article</a>
    {% endif %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Texte</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">
                            {{ article.title }}
                        </a>
                    </td>
                    <td>{{ article.article_text_admin_short }}</td>
                    <td>{{ article.createDate|date('d-m-Y') }}</td>
                    <td>{{ article.updateDate|date('d-m-Y') }}</td>
                    <td>{{ article.comment_count }}</td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Afficher</a>
                        <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}